.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.email-table {
  border-collapse: collapse;
  background-color: black;
  color: white; /* Set the text color to white */
  font-size: 14px;
}

.email-table th,
.email-table td {
  border: 1px solid white;
  padding: 8px;
  color: white; /* Set the text color to white */
}

.email-table th {
  background-color: #f2f2f2;
  color: black;
}
.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Optional: Set the height of the container to take up the full viewport height */
}